@font-face {
    font-family: Product Sans;
    src: url(Fonts/Product\ Sans\ Bold.ttf);
}
@font-face{
    font-family: Product Sans B;
    src: url(Fonts/Product\ Sans\ Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}

html,
body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
}

.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    z-index: 99;
}

.nav-container a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-container img{
    width: 25px;
    height: 25px;
}

.nav-menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 50px;
}

/* links */
.nav-menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg,rgb(255,166,0), rgb(255, 94, 0));}

.hero h1 {
    font-size: 25vw;
    color: white;
    
}

#fanta{
    position: absolute;
    width: 40%;
    z-index: 2;
}

#laranja-cortada{
    position: absolute;
    width: 15%;
    z-index: 2;
    top: 10%;
    left: 32%;
}

#laranja{
    position: absolute;
    width: 20%;
    z-index: 3;
    top: 55%;
    right: 30%;
}
#folha1{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 18%;
    transform: rotate(60deg);
}
#folha2{
    position: absolute;
    width: 20%;
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
}
#folha3{
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}
.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #4d231c;

}
.left-side, .right-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vw;
    width: 50%;
    height: 100%;
}
.left-side svg{
    margin-top: 50vh;
    width: 90%;
    transform: rotate(50deg);
}
.right-side h2{
    color: white;
    font-size: 5vw;
}
.right-side p{
    color: white;
    font-size: 1vw;
    width: 80%;
}
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vh;
    background: linear-gradient(150deg,rgb(255,166,0), rgb(255, 94, 0));
}
.card  {
    position: relative ;
    display: flex;
    background: white;
    align-items: center;
    width: 25vw;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 20px;
}
.card h3{
    margin-top: 40vh;
    font-size: 3vw;
    color: black;
}
.card button{
    border-radius: 50px;
    border: none;
    background: rgb(255,149,0);
    color: white;
    padding: 1vw 2vw;
    cursor: pointer;
}
#cocacola{
    position: absolute;
    top: -15%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#pepsi{
    position: absolute;
    top: -15%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.lemon{
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}
.card img{
     position: absolute;
    top: -15%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}