*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html,
 body{
    height: 100%;
    width: 100%;
 }

 body::-webkit-scrollbar{
    display: none;
 }

 .nav-menu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 99;
 }
 #main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
    
 }
