*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
}

.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    z-index: 99;
}

.nav-container a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-container img{
    width: 25px;
    height: 25px;
}

.nav-menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 50px;
}

/* links */
.nav-menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 126, 40));
}

.hero h1 {
    font-size: 25vw;
    color: white;
}

#fanta{
    position: absolute;
    width: 40%;
    z-index: 2;
}

#laranja-cortada{
    position: absolute;
    width: 15%;
    z-index: 2;
    top: 10%;
    left: 32%;
}

#laranja{
    position: absolute;
    width: 20%;
    z-index: 3;
    top: 55%;
    right: 30%;
}
#folha1{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 18%;
    transform: rotate(60deg);
}
#folha2{
    position: absolute;
    width: 20%;
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
}
#folha3{
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}
